.navbar {
    border: none;
    border-bottom: 4px solid #E73A18 !important;
  }

.nav-link {
  font-size: 1em;
  font-weight: 400;
}

.navbar-brand > img {
  max-height: 5vw;
}

.navbar-brand {
  font-size: 1em;
}

.button {
  background-color: #E73A18;
  border: #575756 2px solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: white;
  color: #E73A18;
}

a { 
  font-color: #E73A18;
  font-weight: 600;
}

div {
  text-align: justify;
  text-justify: inter-word;
}

#submit {
  background-color: #E73A18;
  border: #575756 2px solid;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
}

#submit:hover {
  background-color: white;
  color: #E73A18;
}

